<!DOCTYPE html>
<html><head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
{#    <link rel="stylesheet" href="/static/ali_index_files/css/style.css">#}
{##}
{#<script src="/static/ali_index_files/js/jquery.min.js"></script>#}
{#<script src="/static/ali_index_files/js/script.js"></script>#}
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <meta name="data-spm" content="a2o2j">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="renderer" content="webkit">
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/dan.ico">
    <title>项目详情</title>
    <meta name="keywords" content="-dmseng"><meta name="description" content="-dmseng">
    <!-- 为了让html5shiv生效，请将所有的CSS都添加到此处 -->

    <link href="/static/ali_detail_files/bootstrap.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/static/ali_detail_files/jquery.css">

    <link href="/static/ali_detail_files/oneplus.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/static/ali_detail_files/magnific-popup.css">
    <link type="text/css" rel="stylesheet" href="/static/ali_detail_files/blog.css">

    <script type="text/javascript" src="/static/ali_detail_files/jquery-2.js"></script>
    <!--合并前的js-->
    <!-- Bootstrap库 -->
    <script type="text/javascript" src="/static/ali_detail_files/bootstrap.js"></script>
    <!-- 其他库-->

    <!--合并前的js-->

</head>
    <body>



{%include 'detail_header.html' %}

        <div id="main-container" class="container" style="min-height: 288px;">
            <div class="row">
                <div class="container" style="min-height: 400px">
                    <div class="row">
         {%block rearchcontent %}
    <div class="col-md-8  ">
        <div class="common_block_border">
            <div class="common_block_title clearfix">
                {%block lefttoptitle%}
                <h2>dmsen个人网站发布2018年阿里活水计划</h2>

{%endblock%}
                <p>

{%block searchtop%}
                    <span class="pull-left">
                    <span style="font-size: 13px;color: #666">
                    分类： <a href="#">
                        {%block classfiy%}宏观经济{%endblock%}</a>&nbsp;&nbsp;
                    时间：{%block time%} 2018/03/25 2:20{%endblock%}
                    阅读次数：{%block view_times%}28次{%endblock%}</span>
                </span>
                {%endblock%}
                </p>


            </div>
            <hr>
            <section id="contents">
                <div style="font-size: 16px;color: #151515">
                    <p style="text-align:center">

                        <strong><img alt="" src="{%block image%}/static/ali_detail_files/5a61a10895d6a.jpg{%endblock%}">&nbsp; </strong>

                    </p>

<p style="text-align:center"><strong><a href="#" target="_blank">&gt;&gt;&gt;点击前往个人博客</a></strong></p>

<p>&nbsp;</p>
{%block leftcontent%}
<p>&nbsp; &nbsp; 2018年阿里活水计划以“开放、连接、担当”为主题，聚焦数字经济和普惠发展。有关事项如下：</p>

<p>&nbsp;</p>

<p><strong>&nbsp; &nbsp;&nbsp;</strong><strong>一、项目宗旨</strong></p>

<p>&nbsp; &nbsp;&nbsp;阿里活水计划旨在搭建“实践者+研究者”在线对接平台，发掘阿里生态案例和数据的价值，支持优秀青年学者成长，提升中国数字经济研究水平。</p>

<p>&nbsp;</p>

<p><strong>&nbsp; &nbsp;&nbsp;</strong><strong>二、申报条件</strong></p>

<p>&nbsp; &nbsp;&nbsp;1．&nbsp;海内外高校学者、第三方研究机构分析师、独立学者、政府机构所属研究单位研究人员；</p>

<p>&nbsp; &nbsp; 2．对数字经济研究具有浓厚兴趣，在该领域有一定成果积累和独到见解；</p>

<p>&nbsp; &nbsp; 3．年龄在40周岁以下；</p>

<p>&nbsp; &nbsp; 4．专业背景不限；</p>

<p>&nbsp; &nbsp; 5．可以个人申报，也可以两人以上合作，或博士生导师带领研究团队，或跨院校研究团队共同申报；</p>

<p>&nbsp; &nbsp;&nbsp;6．个人研究方向与本计划开放研究领域和项目一致的优先考虑。</p>

<p>&nbsp;</p>

<p><strong>&nbsp; &nbsp;&nbsp;</strong><strong>三、开放研究领域及项目</strong></p>

<p>&nbsp;</p>

<p>&nbsp;<strong>&nbsp;&nbsp; 1</strong><strong>．数字经济</strong></p>

<ul>
	<li>&nbsp; &nbsp; 数字经济测度与价值</li>
	<li>&nbsp; &nbsp; 数字经济时代的增长与就业</li>
	<li>&nbsp; &nbsp; 数字时代下的中国品牌成长途径</li>
	<li>&nbsp; &nbsp; 企业数字化转型模式与路径</li>
	<li>&nbsp; &nbsp; 数字化时代生态圈发展与合作伙伴管理</li>
</ul>

<p>&nbsp;</p>

<p>&nbsp; &nbsp;&nbsp;<strong>2</strong><strong>．农村脱贫</strong></p>

<ul>
	<li>&nbsp; &nbsp; 数字经济时代的乡村振兴之路</li>
	<li>&nbsp; &nbsp; 新技术促进脱贫的案例分析</li>
</ul>

<p>&nbsp;</p>

<p>&nbsp;<strong>&nbsp;&nbsp; 3</strong><strong>．产业转型与消费升级</strong></p>

<ul>
	<li>&nbsp; &nbsp; 数字经济下的实体零售转型升级</li>
	<li>&nbsp; &nbsp; 零售行业垂直B2B平台的现状与模式</li>
	<li>&nbsp; &nbsp; 新零售时代供应链重构</li>
	<li>&nbsp; &nbsp; 新兴零售业态及商业模式案例</li>
	<li>&nbsp; &nbsp; 零售业中的技术创新及应用</li>
	<li>&nbsp; &nbsp; 中国人口及家庭结构的变化对未来消费的影响</li>
	<li>&nbsp; &nbsp; 不同群体构筑美好生活的不同姿势研究</li>
	<li>&nbsp; &nbsp; 数字经济对综合供应链的影响</li>
	<li>&nbsp; &nbsp; 产业转移与电商供应链体系的关系分析&nbsp;</li>
	<li>&nbsp; &nbsp; 电商产品市场占有率与物流响应速度敏感度分析</li>
	<li>&nbsp; &nbsp; 模块化设计在供应链（消费品领域）中的现状和应用</li>
	<li>&nbsp; &nbsp; 区块链、人工智能、物联网在供应链上的运用</li>
	<li>&nbsp; &nbsp; 未来城市的快递物流规划研究</li>
	<li>&nbsp; &nbsp; 技术进步与弱势人群普惠研究</li>
</ul>

<p>&nbsp;</p>

<p><strong>&nbsp; &nbsp;&nbsp;4</strong><strong>．税收政策</strong></p>

<ul>
	<li>&nbsp; &nbsp; 数字经济时代推动创新创业的税收政策研究</li>
	<li>&nbsp; &nbsp; 人工智能时代的税收治理创新</li>
	<li>&nbsp; &nbsp; 第三方涉税信息的责权利研究</li>
	<li>&nbsp; &nbsp; 数字经济时代跨境税收研究</li>
</ul>

<p>&nbsp;</p>

<p><strong>&nbsp;&nbsp; &nbsp;</strong><strong>．创新与竞争</strong></p>

<ul>
	<li>&nbsp; &nbsp; 新一代信息技术热点调研与发展趋势展望</li>
	<li>&nbsp; &nbsp; 中小企业/网商创新创业热点研究</li>
	<li>&nbsp; &nbsp; 商业服务业生态发展趋势研究</li>
	<li>&nbsp; &nbsp; 云上“双创”趋势分析</li>
	<li>&nbsp; &nbsp; 工业物联网/工业智能研究</li>
	<li>&nbsp; &nbsp; 技术进步对人类社会安全的影响</li>
	<li>&nbsp; &nbsp; 人工智能领域的治理挑战和趋势</li>
	<li>&nbsp; &nbsp; &nbsp;数字经济下的智能化治理的未来路径</li>
	<li>&nbsp; &nbsp; 人工智能技术发展对竞争监管的影响</li>
</ul>

<p style="margin-left:24.0pt">&nbsp;</p>

<p>&nbsp; &nbsp;&nbsp;<strong>6</strong><strong>．数据政策</strong></p>

<ul>
	<li>&nbsp; &nbsp; 数据权属和使用边界研究</li>
	<li>&nbsp; &nbsp; 基于数据智能的创新实践及趋势</li>
	<li>&nbsp; &nbsp; 数据权利的理论建构与应用</li>
</ul>

<p>&nbsp;</p>

<p>&nbsp; &nbsp;&nbsp;<strong>7</strong><strong>．全球化与eWTP</strong></p>

<ul>
	<li>&nbsp; &nbsp;“小微跨国企业”研究</li>
	<li>&nbsp; &nbsp; 中国跨境电商试验区建设实践研究</li>
	<li>&nbsp; &nbsp; 跨境电商的贸易促进和福利提升影响</li>
	<li>&nbsp; &nbsp; 海外数字化转型案例研究</li>
</ul>

<p>&nbsp;</p>

<p>&nbsp;<strong>&nbsp;&nbsp; 8</strong><strong>．医疗健康</strong></p>

<ul>
	<li>&nbsp; &nbsp; 医药供需模式与治理体制互联网化的国际比较研究</li>
	<li>&nbsp; &nbsp; 医疗供需模式与治理体制互联网化的国际比较研究</li>
	<li>&nbsp; &nbsp; 健康保险供需模式与治理体制互联网化的国际比较研究</li>
	<li>&nbsp; &nbsp; 健康医疗大数据发展的国际比较研究</li>
</ul>

<p style="margin-left:24.0pt">&nbsp;</p>

<p>&nbsp; &nbsp;&nbsp;<strong>9</strong><strong>．其他</strong></p>

<p>&nbsp; &nbsp;&nbsp;学者可以根据个人兴趣，自荐与数字经济相关的研究项目。</p>

<p><strong>&nbsp;</strong></p>

<p><strong>&nbsp; &nbsp;&nbsp;</strong><strong>四、申报流程</strong></p>

<p>&nbsp; &nbsp;&nbsp;1．申报：申请者可直接认领上述领域的课题项目，也可以自拟课题项目并提交dmsen个人网站。申报截止日期为：2018年3月12日。</p>

<p>&nbsp; &nbsp;&nbsp;电子邮箱：aliBR@alibaba-inc.com或huoshui@alibaba-inc.com</p>

<p>&nbsp; &nbsp;&nbsp;咨询电话：（010）65985924</p>

<p>&nbsp; &nbsp;&nbsp;2．评审：dmsen个人网站将组织活水计划评审委员会对申请课题项目进行评审。每位研究者可申报多个课题项目，但最终通过的课题项目不超过1个。</p>

<p>&nbsp; &nbsp;&nbsp;3．入围：经过评审通过的申请课题项目，dmsen个人网站将与申请者签署项目合作协议、并授予阿里活水计划学者证书。</p>

<p>&nbsp;</p>

<p><strong>&nbsp; &nbsp;&nbsp;</strong><strong>五、资源支持</strong></p>

<p>&nbsp; &nbsp;&nbsp;dmsen个人网站根据情况为课题研究提供以下支持：</p>

<p>&nbsp; &nbsp;&nbsp;1．提供研究课题相关的案例或数据；&nbsp;</p>

<p>&nbsp; &nbsp;&nbsp;2．定期参加dmsen个人网站组织的学术交流和调研活动；</p>

<p>&nbsp; &nbsp;&nbsp;3．优先参与dmsen个人网站委托其他研究课题项目；</p>

<p>&nbsp; &nbsp;&nbsp;4．为优秀课题成果的发布提供资金或渠道支持。</p>

<p>&nbsp;</p>

<p><strong>&nbsp; &nbsp;&nbsp;</strong><strong>六、研究组织与成果评估</strong></p>

<p>&nbsp; &nbsp;&nbsp;1．入选者须组织1-2次项目研讨会；</p>

<p>&nbsp; &nbsp;&nbsp;2．入选者可参加dmsen个人网站组织的线上或线下课题项目讨论；</p>

<p>&nbsp; &nbsp;&nbsp;3．入选者在每季度的最后一个工作日，应提交对研究进展的详细说明；&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p>&nbsp; &nbsp;&nbsp;4．所有项目须在2018年11月30日前提交最终研究成果。研究院成果形式包括：研究报告、论文、案例等多种形式，具体形式由研究者和活水计划接口人商定；</p>

<p>&nbsp; &nbsp;&nbsp;5．dmsen个人网站统一组织评审组对研究成果进行评估，评选出优秀研究成果并给予奖励。</p>

<p style="margin-left:24.0pt">&nbsp;</p>

<p><strong>&nbsp; &nbsp;&nbsp;</strong><strong>七、项目进程</strong></p>

<ul>
	<li><strong>&nbsp; &nbsp;&nbsp;</strong>2018年1月：公布研究项目，征集报名</li>
	<li>&nbsp; &nbsp; 2018年3月：召开专家评审会，开题、签署合作协议</li>
	<li>&nbsp; &nbsp; 2018年4月-6月：联合／独立调研、数据分析</li>
	<li>&nbsp; &nbsp; 2018年7月-10月：活水计划学者沙龙、中期交流课题进程</li>
	<li>&nbsp; &nbsp; 2018年11月：提交终版研究成果、结题评优</li>
	<li>&nbsp; &nbsp; 2019年1月：颁奖典礼、发布优秀课题集</li>
</ul>

<p>&nbsp;</p>

<p><strong>&nbsp;</strong>&nbsp; &nbsp;&nbsp;<strong>八、其他</strong></p>

<p>&nbsp; &nbsp; &nbsp;未尽事宜，解释权归dmsen个人网站。感谢您的参与和支持！</p>

<p style="text-align:right">dmsen个人网站</p>

<p style="text-align:right">2018年1月</p>

<p style="text-align:center"><strong>&nbsp;</strong></p>

<p style="text-align:center"><strong>&nbsp;</strong></p>

<p style="text-align:center"><strong>附一：</strong></p>

<p style="text-align:center"><strong>活水计划项目申报书</strong></p>

<p style="margin-left:24.0pt; text-align:center"><a href="http://i.aliresearch.com/img/20180119/20180119153338.docx" target="_blank">&gt;&gt;&gt;点击下载</a></p>

<p style="text-align:center"><strong>&nbsp;</strong></p>

<p style="margin-left:24.0pt">&nbsp;</p>

<p style="text-align:center"><strong>附二：</strong></p>

<p style="text-align:center"><strong>2018</strong><strong>活水计划开放研究项目列表</strong></p>

<p style="margin-left:24.0pt; text-align:center"><a href="http://i.aliresearch.com/img/20180227/20180227155314.pdf" target="_blank">&gt;&gt;&gt;点击下载</a></p>

                    {%endblock%}

                </div>
            </section>
            <div class="pull-left" style="margin-left: 20px;">
                <div class="bdsharebuttonbox bdshare-button-style1-16" data-bd-bind="1520839680263">
                    <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                    <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                    <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
                    <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                    <a href="#" class="bds_copy" data-cmd="copy" title="分享到复制网址"></a>
                    <a href="#" class="bds_more" data-cmd="more"></a>
                </div>
            </div>
            <div class="pull-left" style="margin:5px 0 0  10px; ">
                <a title="喜欢（0）" class="support_btn" table="article" row="21432" uid="20000000" jump="no">
                     <i id="ico_like" class="support_nolike"></i>
                </a>
                <span id="support_Blog_article_21432_pos">
                    <span id="support_Blog_article_21432"></span>
                </span>
            </div>
            <div style="padding: 20px">
                <hr>
                <div class="blog_tags clearfix" style="padding: 5px 0 5px 0;">
                    {%block bottomtag%}
                    
                    <a href="http://127.0.0.1:8000/tag/7.html">
                        资讯
                    </a>
                    
                    <a href="http://127.0.0.1:8000/tag/8.html">
                        活水计划
                    </a>
                    
                    <a href="http://127.0.0.1:8000/tag/9.html">
                        dmsen个人网站
                    </a>
                    
                    <a href="http://127.0.0.1:8000/tag/10.html">
                        数字经济
                    </a>
                    {%endblock%}
                </div>
            </div>
        </div>
    </div>

                    {%endblock%}
                     {%include 'sub_right.html'%}
                        
                    </div>
                </div>
            </div>
        </div>
        <div style="padding: 5px"></div>






        <link type="text/css" rel="stylesheet" href="/static/ali_detail_files/atwho.css">
        <!-- 用于加载js代码 -->
    <!-- /底部 -->
{#    {% include 'bottom.html' %}#}
</body></html>