<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>弈林动态相册</title>

    <!--以下待修改-->
    <meta name="description" content="弈林棋社">
    <meta name="keywords" content="弈林棋社"/>
    <meta name="author" content="弈林棋社">

    <!-- Favicons
        ================================================== -->

    <link rel="shortcut icon" href="/static/qishe/log.ico" type="image/x-icon">
   <link href="/static/qishe/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap -->
{#    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">#}
    <link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome/css/font-awesome.css">

    <!-- Slider
        ================================================== -->
    <link href="/static/css/owl.carousel.css" rel="stylesheet" media="screen">
    <link href="/static/css/owl.theme.css" rel="stylesheet" media="screen">

    <!-- Stylesheet
        ================================================== -->
    <link rel="stylesheet" type="text/css" href="/static/qishe/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/prettyPhoto.css">

    <link rel="stylesheet" type="text/css" href="/static/fonts/sns_fonts/iconfont.css">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        canvas {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            //opacity: 0.5;

        }
        img{margin-left: 30px;}
    </style>
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" style="background-color: #0b0b0b">
<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation" >
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top"><i class="fa fa-terminal"></i>弈林棋社</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav" style="color: black">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li style="color: black ;">
                    <a class="page-scroll" href="{% url 'yilin' %}" >首页</a>
                </li>
                 <li>
                    <a class="page-scroll" href="{% url 'dxiangce' %}">动态相册</a>
                </li>
                <li>
                    <a class="page-scroll" href="{% url 'xiangce' %}">3D团体相册</a>
                </li>
                <li>
                    <a class="page-scroll" href="/static/qishe/img/qishe.jpg">加入我们</a>
                </li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Header -->


<canvas id="canvas"></canvas>
<div class="row" style="margin:100px 50px ;width: auto;height:100px;z-index: 100;">
         <marquee  loop＝10 scrollamount=16    scrolldelay=0 valign=middle behavior="scroll">

             <img border="0" src=" /static/qishe/index/1.jpg" style="position:relative;width:680px;height: 600px;">

             <img border="0" src="/static/qishe/index/2.jpg" style="position:relative;width: 680px;height:600px;">

         <img border="0" src=" /static/qishe/index/3.jpg" style="position:relative;width: 680px;height: 600px;">

             <img border="0" src="/static/qishe/index/4.jpg" style="position:relative;width: 680px;height:600px;">

             <img border="0" src=" /static/qishe/index/5.jpg" style="position:relative;width: 680px;height: 600px;">

             <img border="0" src="/static/qishe/index/6.jpg" style="position:relative;width: 680px;height:600px;">

             <img border="0" src=" /static/qishe/index/7.jpg" style="position:relative;width: 680px;height: 600px;">

          <img border="0" src=" /static/qishe/index/8.jpg" style="position:relative;width:680px;height: 600px;">

             <img border="0" src="/static/qishe/index/9.jpg" style="position:relative;width: 680px;height:600px;">

         <img border="0" src=" /static/qishe/index/10.jpg" style="position:relative;width: 680px;height: 600px;">

             <img border="0" src="/static/qishe/index/11.jpg" style="position:relative;width: 680px;height:600px;">

             <img border="0" src=" /static/qishe/index/12.jpg" style="position:relative;width: 680px;height: 600px;">

             <img border="0" src="/static/qishe/index/13.jpg" style="position:relative;width: 680px;height:600px;">

             <img border="0" src=" /static/qishe/index/14.jpg" style="position:relative;width: 680px;height: 600px;">

         </marquee>
</div>
<script>
"use strict";

var canvas = document.getElementById('canvas'),
  ctx = canvas.getContext('2d'),
  w = canvas.width = window.innerWidth,
  h = canvas.height = window.innerHeight,

  hue = 217,
  stars = [],
  count = 0,
  maxStars = 1200;

var canvas2 = document.createElement('canvas'),
  ctx2 = canvas2.getContext('2d');
canvas2.width = 100;
canvas2.height = 100;
var half = canvas2.width / 2,
  gradient2 = ctx2.createRadialGradient(half, half, 0, half, half, half);
gradient2.addColorStop(0.025, '#fff');
gradient2.addColorStop(0.1, 'hsl(' + hue + ', 61%, 33%)');
gradient2.addColorStop(0.25, 'hsl(' + hue + ', 64%, 6%)');
gradient2.addColorStop(1, 'transparent');

ctx2.fillStyle = gradient2;
ctx2.beginPath();
ctx2.arc(half, half, half, 0, Math.PI * 2);
ctx2.fill();

// End cache

function random(min, max) {
  if (arguments.length < 2) {
    max = min;
    min = 0;
  }

  if (min > max) {
    var hold = max;
    max = min;
    min = hold;
  }

  return Math.floor(Math.random() * (max - min + 1)) + min;
}

function maxOrbit(x, y) {
  var max = Math.max(x, y),
    diameter = Math.round(Math.sqrt(max * max + max * max));
  return diameter / 2;
}

var Star = function() {

  this.orbitRadius = random(maxOrbit(w, h));
  this.radius = random(60, this.orbitRadius) / 12;
  this.orbitX = w / 2;
  this.orbitY = h / 2;
  this.timePassed = random(0, maxStars);
  this.speed = random(this.orbitRadius) / 900000;
  this.alpha = random(2, 10) / 10;

  count++;
  stars[count] = this;
}

Star.prototype.draw = function() {
  var x = Math.sin(this.timePassed) * this.orbitRadius + this.orbitX,
    y = Math.cos(this.timePassed) * this.orbitRadius + this.orbitY,
    twinkle = random(10);

  if (twinkle === 1 && this.alpha > 0) {
    this.alpha -= 0.05;
  } else if (twinkle === 2 && this.alpha < 1) {
    this.alpha += 0.05;
  }

  ctx.globalAlpha = this.alpha;
  ctx.drawImage(canvas2, x - this.radius / 2, y - this.radius / 2, this.radius, this.radius);
  this.timePassed += this.speed;
}

for (var i = 0; i < maxStars; i++) {
  new Star();
}

function animation() {
  ctx.globalCompositeOperation = 'source-over';
  ctx.globalAlpha = 0.8;
  ctx.fillStyle = 'hsla(' + hue + ', 64%, 6%, 1)';
  ctx.fillRect(0, 0, w, h)

  ctx.globalCompositeOperation = 'lighter';
  for (var i = 1, l = stars.length; i < l; i++) {
    stars[i].draw();
  };

  window.requestAnimationFrame(animation);
}

animation();
</script>





<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script type="text/javascript" src="/static/js/jquery.1.11.1.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script type="text/javascript" src="/static/js/bootstrap.js"></script>
<script type="text/javascript" src="/static/js/SmoothScroll.js"></script>

<script type="text/javascript" src="/static/js/jquery.isotope.js"></script>
<script type="text/javascript" src="/static/js/jquery.counterup.js"></script>
<script type="text/javascript" src="/static/js/waypoints.js"></script>
<script type="text/javascript" src="/static/js/jqBootstrapValidation.js"></script>
<script type="text/javascript" src="/static/js/contact_me.js"></script>
<script src="/static/js/owl.carousel.js"></script>

<!-- Javascripts
    ================================================== -->
<script type="text/javascript" src="/static/js/main.js"></script>

<script>
    $(function () {
        var u = navigator.userAgent;
        if (u.indexOf('Android') > -1 || u.indexOf('Linux') > -1 || u.indexOf('iPhone') > -1 || u.indexOf('Windows Phone') > -1 || navigator.userAgent.indexOf("iPad") > -1) {
            $(".hover-bg .hover-text").css({'opacity': '1'});

            $(".hover-bg .hover-text>h4").css({
                'opacity': '1',
                '-webkit-transform': 'translateY(0)',
                'transform': 'translateY(0)'
            });

            $(".hover-bg .hover-text>i").css({'opacity': '1'});
        }

    });

</script>





<EMBED src="/static/qishe/music/22.mp3" loop="infinite" width="0" height="0" ></embed>

</body>
</html>