<div class="wave-box">

	<div class="marquee-box marquee-up" id="marquee-box">
		<div class="marquee">
			<div class="wave-list-box" id="wave-list-box1">
				<ul>
					<li><img height="60" alt="波浪" src="/static/ali_index_files/images/wave_02.png"></li>
				</ul>
			</div>
			<div class="wave-list-box" id="wave-list-box2">
				<ul>
					<li><img height="60" alt="波浪" src="/static/ali_index_files/images/wave_02.png"></li>
				</ul>
			</div>
		</div>
	</div>


	<div class="marquee-box" id="marquee-box3">
		<div class="marquee">
			<div class="wave-list-box" id="wave-list-box4">
				<ul>
					<li><img height="60" alt="波浪" src="/static/ali_index_files/images/wave_01.png"></li>
				</ul>
			</div>
			<div class="wave-list-box" id="wave-list-box5">
				<ul>
					<li><img height="60" alt="波浪" src="/static/ali_index_files/images/wave_01.png"></li>
				</ul>
			</div>
		</div>
	</div>

</div>
<div class="footer2">
	<div class="auto clearfix">



		<!-- footer主要-->
		<div class="five-superiority">
			<ul class="five-superiority-list clearfix">
				<li class="compensate_ico">
					<a href="#compensate">

						<span>各个</span>
					</a>
				</li>
				<li class="retreat_ico">
					<a href="#refund">

						<span>学习</span>
					</a>
				</li>
				<li class="technology_ico">
					<a class="superiority-text" href="#afterService">

						<span>网站</span>
					</a>
				</li>
				<li class="prepare_ico">
					<a href="#ico">

						<span>分享</span>
					</a>
				</li>

			</ul>
		</div>

		<div class="footer-floor1">
			<div class="footer-list">
				<ul>
					<li class="flist-title">前端学习网站</li>

					<li><a href="http://www.runoob.com/html/html-tutorial.html" rel="nofollow"  title="菜鸟教程"><strong>菜鸟教程</strong></a></li>
                    <li><a href="http://www.w3school.com.cn/" rel="nofollow" title="W3school"><strong>W3school</strong></a></li>
					<li><a href="
http://www.bootcss.com/" rel="nofollow" title="Bootstrap中文网"><strong>Bootstrap中文网</strong></a></li>
                    <li><a href="http://echarts.baidu.com/" rel="nofollow"title="Echarts中文网"><strong>Echarts</strong></a></li>
                    <li><a href="http://down.admin5.com/texiao/" rel="nofollow"title="源码"><strong>源码</strong></a></li>
                    <li><a href="http://www.17sucai.com/" rel="nofollow" title="17素材网"><strong>17素材网</strong></a></li>
				</ul>
				<ul>
					<li class="flist-title">后台学习网站</li>
                    <li><a href="http://www.runoob.com/python3/python3-tutorial.html"title="Python3教程"><strong>Python3教程</strong></a></li>
                    <li><a href="https://yiyibooks.cn/xx/Django_1.11.6/index.html"title="django1.1中文文档"><strong>django1.1中文文档</strong></a></li>
                    <li><a href="http://www.runoob.com/redis/redis-tutorial.html"title="redis教程-菜鸟"><strong>redis教程-菜鸟</strong></a></li>
                    <li><a href="https://www.sogou.com/link?url=DSOYnZeCC_r-h4h4RsVJtR3qdnQglS4Lx4fzKJAS6-ZADd6v29wAlEVTlAIEwAKi" rel="nofollow" target="_blank"title="mysql教程-人人学习网"><strong>mysql教程-人人学习网</strong></a></li>
                    <li><a href="http://www.zgguan.com/it/article/id/13715.html"title="mysql学习网站"><strong>mysql学习网站</strong></a></li>
				</ul>
				<ul>
					<li class="flist-title">python-爬虫</li>
                    <li><a href="http://docs.python-requests.org/zh_CN/latest/user/quickstart.html"title="Requests快速上手"><strong>Requests快速上手</strong></a></li>
                    <li><a href="http://www.scrapyd.cn/"title="scrapy中文网"><strong>scrapy中文网</strong></a></li>
                    <li><a href="http://www.pyspider.cn/"title="pyspider中文网"><strong>pyspider中文网</strong></a></li>
                    <li><a href="https://blog.csdn.net/libsyc/article/details/78199850"title="PhantomJS快速入门"><strong>PhantomJS快速入门</strong></a></li>
                    <li><a href="http://www.xicidaili.com/"title="西刺免费代理ip"><strong>西刺免费代理ip</strong></a></li>
				</ul>


				<ul class="flist-4" >
					<li class="flist-title">其他：</li>
                    <ul class="flist-4" id="div1">
					<li><a href="http://www.runoob.com/" target="_blank"title="菜鸟教程"><b>菜鸟教程</b></a></li>
                    <li><a href="https://www.shiyanlou.com/courses/?fee=free" target="_blank"title="实验楼"><b>实验楼</b></a></li>
                    <li><a href="https://leetcode-cn.com/" target="_blank"title="领扣"><b>领扣</b></a></li>
                    <li><a href="https://www.nowcoder.com/" target="_blank"title="牛客"><b>牛客</b></a></li>
                    <li><a href="http://www.pythontutor.com/visualize.html#mode=edit" target="_blank"title="pythintutor"><b>pythintutor</b></a></li>
                    <li><a href="https://alpha.wallhaven.cc/" target="_blank"title="精美壁纸网站"><b>精美壁纸网站</b></a></li>
                    <li><a href="https://github.com/" target="_blank"title="代码存管平台"><b>Github</b></a></li>
                    <li><a href="https://gitee.com/" target="_blank"title="代码存管平台"><b>码云</b></a></li>
                        </ul>
				</ul>

				<div class="clear-float"></div>
			</div>
<div class="footer-right">
    <div class="footer-list"><ul class="flist-4" >
					<li class="flist-title">学习文献</li>
                    <ul class="flist-4" id="div2">
                        <li><a href="https://blog.csdn.net/weixin_40907382/article/details/79718055"title="Django 复杂查询"><strong>Django 复杂查询</strong></a></li>
                        <li><a href="https://blog.csdn.net/qq_26676207/article/details/52624937"title="request详解"><strong>request详解</strong></a></li>
                        <li><a href="https://blog.csdn.net/shimiso/article/details/21830313"title="同源策略"><strong>同源策略</strong></a></li>
                        <li><a href="http://www.blogjava.net/zjusuyong/articles/304788.html"title="http协议"><strong>http协议</strong></a></li>

                    </ul>
				</ul></div>
</div>


			<div class="clear-float"></div>
		</div>

	</div>

	<div class="footer-floor2">
		<p>Copyright © 2018 dmsen.cn All Rights Reserved. Yul Zeng版权所有</p>
        <p><a href="http://www.miitbeian.gov.cn/">湘ICP备18017514</a></p>

	</div>
</div>
<script>
    var c, _ = Function;
    with(o = document.getElementById("div1")) {
        innerHTML += innerHTML;
        onmouseover = _("c=1");
        onmouseout = _("c=0");
    }
    (F = _("if(#%26||!c)#++,#%=o.scrollHeight>>1;setTimeout(F,#%26?10:1500);".replace(/#/g, "o.scrollTop")))();
</script>

<style>
    #div1 {
        height:192px;
        overflow:hidden;
    }

</style>